<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
<!-- Note: the order of the elements in this file matters -->

    <!-- put appenders here --> 
    
    <!-- TODO: Add console appender.  -->   
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>
    
    <!-- File Appender -->
    <appender name="EFILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/expertise.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%2p %c{1}:%L - %m%n" />
        </layout>
    </appender>


    <appender name="PLAIN_FILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/expertiseData.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <appender name="ETIMEFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/expertiseTiming.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="5000KB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{MM-dd-yyyy HH:mm:ss} - %m%n" />
        </layout>
    </appender>

    <!-- put loggers here (including root)-->
	<logger name="com.baeait.polestar.expertise.recommender.impl.LinearCombinationRecommender" additivity="false">
		<level value="debug"/>
		<appender-ref ref="EFILE"/>
	</logger>
	
	<logger name="com.baeait.polestar.expertise.recommender.impl.SocialNetworkRecommender" additivity="false">
		<level value="debug"/>
		<appender-ref ref="EFILE"/>
	</logger>
	
	    <!-- put loggers here (including root)-->
	<logger name="com.baeait.polestar.expertise.recommender.similarity" additivity="false">
		<level value="error"/>
		<appender-ref ref="EFILE"/>
	</logger>

	<logger name="com.baeait.polestar.expertise.recommender.aggregate" additivity="false">
		<level value="error"/>
		<appender-ref ref="EFILE"/>
	</logger>

	<logger name="com.baeait.polestar.ecc.network.ConnectionNetworkConstructor" additivity="false">
		<level value="error"/>
		<appender-ref ref="EFILE"/>
	</logger>

	<logger name="com.baeait.polestar.documentcorpusingest" additivity="false">
		<level value="error"/>
		<appender-ref ref="EFILE"/>
	</logger>

	    <!-- put loggers here (including root)-->
	<logger name="data.com.baeait.polestar" additivity="false">
		<level value="error"/>
		<appender-ref ref="PLAIN_FILE"/>
	</logger>

	<logger name="timing.com.baeait.polestar" additivity="false">
		<level value="debug"/>
		<appender-ref ref="ETIMEFILE"/>
	</logger>

    <root>
       <level value="error"/>
   	   <appender-ref ref="EFILE" />
	</root>
	
</log4j:configuration>